@use "@angular/material" as mat;

.header-toolbar {
  color: var(--mat-sys-primary);
  background-color: #01458c;
  padding-inline: 1rem;
  height: 8vh;
  display: flex;
  align-items: center;
}

.app-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: white;
}

.spacer {
  flex: 1;
  color: white;
}

.lang-select {
  margin-inline-end: 1rem;
  min-width: 100px;
  max-width: 200px;
}
